<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A website for a pse project">
    <meta name="author" content="David Laubenstein">
    <link rel="icon" type="image/png" href="img/Logo_transparent.png">
    <title>Privacy Crash Cam</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">

    <script src="js/ie-emulation-modes-warning.js"></script>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <!--
                        <ul class="nav nav-sidebar">
                <li>
                    <img src="img/Logo_transparent.png" style="width: 100%"></li>
                </li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Place here Account info</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li class="active"><a href="">Hochgeladene Videos<span class="sr-only">(current)</span></a></li>
                <li><a href="">Account verwalten</a></li>
                <li><a href="">Datenschutzerklärung</a></li>
                <li><a href="">Impressum</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Logout</a></li>
            </ul>

            -->
            <div location="menuArea">
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div location="contentArea">
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/bootstrap.min.js"></script>
<script src="js/vendor/holder.min.js"></script>
</body>
</html>
